.section--benefits {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.section__card--benefits {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.image__wrapper--benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--background-color-secondary);
  border-radius: 4px;
  margin-bottom: 30px;
}
.card__title--benefits {
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.card__description--benefits {
  line-height: 1.71;
}
