.section__card--service {
  position: relative;
}
.card__title--service {
  position: absolute;
  bottom: 0px;
  width: 370px;
  padding: 27px 0;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-invert);
  text-transform: uppercase;
}
