// structure and common styles for section items
.section {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  // .section--benefits
  // .section--service
  // .section--team
}

.section__title {
  margin-bottom: 30px;
  text-align: center;
  color: var(--color-secondary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-heading-mob);
  line-height: 1.17;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: var(--font-size-heading);
  }
}

.section__list {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }

  // .section__list--portfolio
}

// .section__card {
// .section__card--benefits
// .section__card--service
// .section__card--team
// }

// .card__link (portfolio)

.card__title {
  color: var(--color-secondary);
  font-weight: var(--font-weight-heading);
  font-size: var(--font-size-primary);
  line-height: 1.14;

  // .card__title--benefits
  // .card__title--service
  // .card__title--team
  // .card__title--portfolio
}

// .card__description {
// .card__description--benefits
// .card__description--team
// .card__description--portfolio
// }

.card__image {
  width: 100%;
  height: auto;
}

// .image__wrapper {
// .image__wrapper--benefits
// .image__wrapper--portfolio
// }

// .image__overlay
